
#categoryHeader {
    font-size: 6em;
    margin-bottom: 1em;
}

h2 {
    font-size: 5em;
}

#shoppingCartHeader {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
}

.moveRight {
    text-align: right;
}

.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left a {
    color: white;
}

.navbar-fixed-left a:visited {
    color: #959796;
}

.navbar-fixed-left a:hover {
    color: #dddfde;
    text-decoration: unset;

}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 139px;
}

.navbar-fixed-left + .container {
    padding-left: 160px;

}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
    background-color: #1d1e1f;
}

.sign-in-here {
    border-bottom: 1px dashed #bbb;
    color: #999;
    display: inline-block;
    font-size: 11px;
    margin-left: 10px;
    padding-bottom: 1px

}

.sign-out {
    margin: .5em;
    padding: .5em;
}

.welcome-user {
    color: white;
    border: gray solid thin;
    padding: .25em 1em .25em 1em;
    text-decoration: unset;
}

.welcome-user a:hover {
    color: black;
    text-decoration: unset;
}

.balance {
    color: white;
    text-decoration: unset;
}

.item-image {
    width: 30%;
    height: 30%;
    margin: 1em 2.5em 1em 2.5em;

}

.item-image-slot {
    /*margin: 1em;*/
    align-content: center;

}

.item-header {
    text-align: left;
    margin-left: 2em;
    font-size: 1.5em;

}

.price {
    font-size: larger;
    margin: .5em;
    text-align: center;
    font-weight: bold;
}

.jumbotron-header {
    background-color: #2a2c2d;
    color: white;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.slide {
    height: 15em;
    width: 15em;
}

.back-button {
    margin: 2em 1em 1em 3em;
    position: fixed;
}