.navbar-fixed-left {
	width: 140px;
	position: fixed;
	border-radius: 0;
	height: 100%;
}

.navbar-fixed-left a{
	color: white;
}

.navbar-fixed-left a:visited{
	color: #959796;
}

.navbar-fixed-left a:hover{
	color: #dddfde;
	text-decoration: unset;

}

.navbar-fixed-left .navbar-nav > li {
	float: none;
	width: 139px;
}

.navbar-fixed-left + .container {
	padding-left: 160px;

}

.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
	margin-top: -50px;
	margin-left: 140px;
	background-color: #1d1e1f;
}